<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>My name is Ashoka Finley</p>
<p>I live in Oakland, CA</p>
<p>My email is <a href="mailto:ashoka.finley@gmail.com">ashoka.finley@gmail.com</a></p>
<p>My <a href="www.github.com/thissaysnothing">GitHub</a></p>